h1{
	color:black;
	font-family: Arial;
	font-size:25pt;
	text-align: left;
}

h2{
	color:black;
	font-family: Arial;
	font-size: 14pt;
	text-align: left
}

p {
color:blue;
font-family: Arial;
font-size: 11pt;
text-align: left;

}
li{
	color:blue;
font-family: Arial;
font-size: 11pt;
text-align: left;

}


